body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .logo:hover{
    color:var(--corTitulos);
  }

  .links_cabecalho1:hover{
    color: #4F495A;
  }

  .links_cabecalho2:hover{
    color: #4F495A;
  }

  .login:hover{
    color: #4F495A;
  }

  header {
    background-color: #CCCCCC;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .login{
    margin-left: 1800px;
    position: absolute;
  }

  .logo {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  nav a {
    font-size: 17px;
    text-decoration: none;
    color: black;
    margin-left: 100px;
  }